.cover__but {
  grid-area: cover-button;
  border: none;
  justify-self: start;
  box-sizing: border-box;
  padding: 16px 10px;
  background-color: #24b47e;
  color: white;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: 1px;
  transition: transform .3s ease, background-color .1s linear;
}
.cover__but:hover {
  transform: scale(1.05);
}
.cover__but:active {
  background-color: #1a7d58;
}

@media screen and (max-width: 320px) {
  .cover__but {
    width: 100%;
    padding: 14px 0;
    font-size: 13px;
    line-height: 1.46;
  }
}
