.cards__title {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 60px;
  letter-spacing: -0.5px;
  color: #151515;
}

@media screen and (max-width: 1200px) {
  .cards__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
    color: #151515;
  }
}

@media screen and (max-width:  767px) {
  .cards__title {
    margin-bottom: 40px;
  }
}
