.cards__select-category {
  display: none;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  padding: 7px 61px 7px 12px;
  background-color: transparent;
  appearance: none;
  background: url(../../../images/Vector.svg) no-repeat right;
  background-position-x: calc(100% - 12.5px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  color: #151515;
}

@media screen and (max-width: 767px) {
  .cards__select-category {
    display: block;
  }
}