.merks__content-block {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin: 0 auto;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .merks__content-block {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }
}