.training {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "title image"
  "paragraph image"
  "links image";
  padding: 150px 120px 120px;
  gap: 0 160px;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .training {
    padding: 40px 18px 60px 18px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 40px;
  } 
}