.cover__title {
  grid-area: cover-title;
  align-self: flex-end;
  max-width: 300px;
}

@media screen and (max-width: 1200px) {
  .cover__title {
    align-self: center;
    max-width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .cover__title {
    align-self: flex-start;
    max-width: 200px;
  }
}
