.card__title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #151515;
  align-self: start;
  padding-top: 42px;
}


@media screen and (max-width: 767px) {
  .card__title {
    align-self: center;
    padding-top: 3px;
  }
}
