.card {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card:hover .card__img-block {
  box-shadow: 0px 5px 10px 1px rgb(158, 158, 158);
}



